@import '../../styles/mixins.scss';
@import '../../styles//colors.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .formWrapper {
        position: relative;
        width: 30vw;
        background-color: $white-main;
        overflow: hidden;
        height: 210px;
    
        @include column;
        justify-content: space-between;
    
        padding: 32px 26px;

        box-shadow: 0 5px 5px 0 $form-shadow-color, 0 2px 5px 0 $form-shadow-color;
    
        border-radius: 8px;
        transition: box-shadow 0.3s;
        
    
        .submit {
            background-color: $pearple-main;
            border-radius: 6px;
            border: none;
            color: $white-main;
            cursor: pointer;
            width: 100%;
            padding: 1rem 1.2rem;
            font-size: 16px;
            transition: background-color .3s;
            &:hover {
                background-color: lighten($pearple-main, 5%);
            }

            &.disabled {
                pointer-events: none;
                background-color: lighten($pearple-main, 15%);
            }
        }

        &.focused {
            box-shadow: 0 15px 35px 0 $form-shadow-color, 0 5px 15px 0 $form-shadow-color;
        }
    }

    .hide {
        animation-name: hide;
        animation-duration: .6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
}

@keyframes hide {
    to {
        height: 0;
        opacity: 0;
    }
}
