$pearple-main: rgb(99, 91, 255);
$pearple-light: rgb(99, 91, 255, 0.4);
$white-main: #ffffff;
$green-main: #2bbd92;
$black-main: #212121;
$red-main: #d50000;

$form-shadow-color: rgba(66, 66, 66, .2);
$background-main: rgba(245,251,255, 1);